.form-container {
  display: flex;
  justify-content: center;
  height: 200px; /* Adjust the height as needed */
  width: 100%;
  margin: auto;
}

.form-row {
  display: flex;
  justify-content: center;
  width: 400px;
  margin: auto;
}

.form-row:last-child {
  margin-bottom: 0px;
}

.form-column {
  margin-right: 20px;
}

.form-column:last-child {
  margin-right: 0px;
}

.text-field, .switch, .button {
  width: 200px;
  height: 50px;
  justify-content: center;
  margin:5px;
}

body {
  min-height: 0px;
}